<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery - Admin Panel</title>
    <link rel="stylesheet" href="/public/admin.css">
</head>
<body>

    <div class="container">
        <div class="admin-grid">
            <div class="admin-sidebar">
                <div class="menu-toggle" id="menuToggle">
                    <!-- Ícono inicial del menú -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" id="menuIcon">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    <!-- Dropdown content -->
                    <div class="dropdown-content" id="dropdownContent">
                        <a href="/">Home</a>
                        <a href="/admin">Admin Panel</a>
                        <a href="/register">Register</a>
                        <a href="/login">Login</a>
                    </div>
                </div>
            </div>
            <div class="admin-main">
                <h1>Admin Panel</h1>
                <form action="/admin/search" method="get">
                    <label for="id">Search by ID:</label>
                    <input type="text" id="id" name="id">
                    <button type="submit">Search</button>
                </form>
                <ul class="admin-photos">
                    <% photos.forEach(photo => { %>
                        <li>
                            <img src="/uploads/<%= photo.filename %>" alt="Photo" id="photo_<%= photo.id %>">
                            <br>
                            <p>File Name: <%= photo.filename %></p>
                            <p>ID: <%= photo.id %></p>
                            <p>Database: photos.db</p>
                            <form action="/admin/delete/<%= photo.id %>" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>

    <script>
        var menuToggle = document.getElementById("menuToggle");
        var menuIcon = document.getElementById("menuIcon");

        // Agregar un evento de clic al botón de menú
        menuToggle.addEventListener("click", function() {
            // Alternar la clase 'active' en el botón de menú
            menuToggle.classList.toggle("active");
        });
    </script>
</body>
</html>
